body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

#header-bar {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: black;
    letter-spacing: 5px;
    box-sizing: border-box;
    padding: 0 20px;
}