body {
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    font-family: sans-serif;
}

#header-bar {
    background-color: #000107;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-family: Impact, sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
    box-sizing: border-box;
}

.logout-button {
    position: fixed;
    bottom: 5px;
    right: 20px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    z-index: 1000;
    cursor: pointer;
}

.logout-button:hover{
    background-color: #9fb1c3;
}