
        body {
            margin: 0;
            background-color: #000412;
            height: 100vh;
            overflow-x: hidden;
        }

        #background-image {
            position: fixed;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            opacity: 0.9;
        }

        #header-bar {
            background-color: #000107;
            height: 90px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            z-index: 2;
            padding: 0 20px;
            box-sizing: border-box;
        }

        #left-section {
            position: absolute;
            left: 20px;
        }

        #center-title {
            font-size: 70px;
            font-family: Impact, sans-serif;
            font-weight: bold;
            color: white;
            letter-spacing: 5px;
             margin: 0 auto 0 500px; 
            text-decoration: none;
        }

        #right-icon {
            color: #6c6c6c;
            font-size: 30px;
            cursor: pointer;
            transition: color 0.3s ease;
        }

        #right-icon:hover {
            color: #3f8ecb;
        }

        #sidebar {
            position: absolute;
            top: 90px; 
            left: -250px;
            width: 225px;
            height: calc(100% - 90px);
            background-color: #050002;
            padding: 20px;
            opacity: 0.9;
            transition: left 0.3s ease;
            z-index: 1;
            position: fixed;
        }

        #sidebar.active {
            left: 0;
        }

        #cart-sidebar {
            position: fixed;
            top: 90px;
            right: -250px;
            width: 225px;
            height: calc(100% - 90px);
            background-color: #050002;
            padding: 20px;
            opacity: 0.95;
            transition: right 0.3s ease;
            z-index: 1;
        }

        #cart-sidebar.active {
            right: 0;
        }

        #search-input {
            padding: 8px 10px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
            font-family: 'Afacad';
            background-color: #1a1a1a;
            color: white; 
        }

        #search-button {
            background-color: #000107;
            color: #6c6c6c;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            padding: 8px 12px;
            margin-right: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        #search-button:hover {
            background-color: #272727;
        }

        .toggle-btn {
            padding: 10px 20px;
            font-size: 25px;
            background-color: #050002;
            font-family: 'Afacad';
            color: #6c6c6c;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .toggle-btn:hover {
            background-color: #414141;
        }

        .menu-btn {
            font-family: 'Afacad';
            font-size: 20px;
            background-color: #000107;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none; 
            display: inline-flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            font-weight: normal;      
            text-transform: none; 
            transition: background-color 0.3s ease;
            margin-left: 10px;
            text-decoration: none;
        }

        .menu-btn:hover {
            background-color: #272727;
        }

        #footer-bar {
            background-color: #000107;
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center; 
            justify-content: center;
            font-size: 15px;
            font-family: 'Afacad';
            font-weight: bold;
            color: white;
            box-sizing: border-box;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 2;
        }

       #logout-button {
            position: fixed;
            bottom: 5px;
            right: 20px;
            background-color: #000107;
            color: #6c6c6c;
            font-family: 'Afacad';
            font-size: 20px;
            font-weight: bold;
            padding: 8px 10px;
            border: none;
            border-radius: 8px;
            text-decoration: none;
            z-index: 1000;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        #logout-button:hover {
            background-color: #272727;
        }

        #full-page-window {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            display: none; 
            flex-direction: column;
            z-index: 9999;
        }

        #header-bar-white {
            background-color: #ffffff;
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 40px;
            font-family: Impact, sans-serif;
            font-weight: bold;
            color: black;
            padding: 0 20px;
            border-bottom: 2px solid #00000020;
        }

        #center-title-white {
            flex-grow: 1;
            text-align: center;
            font-size: 70px;
        }

        #menu-close {
            font-size: 30px;
            cursor: pointer;
            color: black;
        }

        #content-area {
            flex-grow: 1;
            padding: 20px 40px 10px 40px;
            font-family: 'Afacad';
            font-size: 20px;
            color: black;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #bottom-box-white {
            height: 100px;
            background-color: #f0f0f0;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Afacad';
            font-size: 20px;
            border-top: 1px solid #ccc;
        }

        #footer-bar-white {
            height: 60px;
            background-color: #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            font-family: 'Afacad';
            font-weight: bold;
            color: black;
        }

        #concert-filter-box {
            width: 80%;
            display: flex;
            justify-content: space-around;
        }

        #concert-filter-box select {
            padding: 5px;
            font-size: 16px;
            font-family: 'Afacad';
            border-radius: 5px;
            border: none;
            background-color: #505050;
            color: white;
            cursor: pointer;
        }

        #concert-list-container {
            margin: 10px auto 20px auto;
            width: 80%;
            background-color: #505050;
            color: white;
            font-family: 'Afacad';
            padding: 20px;
            max-height: 300px;
            overflow-y: auto;
        }

        #concert-list-container div {
            border-bottom: 1px solid #444;
            padding: 10px 0;
        }